
<h2>New Event</h2>

<form action="/events" method="POST"> 
    <%- include('_form_fields') %>
<ul>
    <button type="submit">Create</button>
    <a id="create_curator_form_buttons" href="/event">Cancel</a>
</ul>

<script>
     




</script>

</form>

<%- include('../partials/footer'); -%>
