


    <div>
        <div class='home_wrapper'>
          <ul>
            <% if (user) {  %>
            <h2>Recently Added</h2>
            <br>
            <div>
              <% events.forEach(event => { %>
                <img height = "540" width = "960" src = "<%= event.coverImagePath  %>">
                <div><%= event.event_name  %></div>
                
                <br>
              <% }) %>
            </div>
            <% } else { %>
              <% } %>
        </ul> 
        </div>
        
    </div>
    
    <%- include('partials/footer'); -%>