


    <div>
        <div class='home_wrapper'>
          <ul>
            <% if (user) {  %>
            <h2>Recently Added</h2>
            <div>
              <% events.forEach(event => { %>
                <img height = "150" width = "100" src = "<%= event.event_image_name %>">
                <div><%= event.event_name %></div>
              <% }) %>
            </div>
            <% } else { %>
              <% } %>
        </ul> 
        </div>
        
    </div>
    
    <%- include('partials/footer'); -%>